@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightBlack;
}

p {
  @apply leading-7 text-gray-300;
  margin-top: 0.5rem;
}

ul {
  @apply mb-6 flex list-inside list-disc flex-col items-start;
}

li {
  @apply mt-3 text-gray-300;
}

h1 {
  @apply pt-7 font-heading text-4xl text-gold;
}

h2 {
  @apply pb-5 pt-7 font-heading text-2xl text-gold;
}
h3 {
  @apply pb-3 pt-3 font-heading text-xl text-gold;
}
label {
  @apply text-gray-300;
}

/* styling for membership boxes */
@layer components {
  .MembershipOptionsInfo > h1 {
    @apply self-center text-lightBlack;
  }
}

.MembershipOptionsInfo > h2 {
  @apply text-lightBlack;
}
/* Centers only the h1 tag, used to format blocks of content delivered from Contentful */
.center-heading h1 {
  position: relative;
  top: 0px;
  text-align: center;
  margin-bottom: 20px;
}
